.shoesName{
font-size: 24px;
  display: flex;
  justify-content: space-between;
}
.price{
  color: #f25862;
  font-weight: bolder;
}
.cardText a{
  text-decoration: underline;
  color: black;
}
.card {
  width: 18rem;
}
.card:hover{
  transform: scale(1);
}
.feauredShoes{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4,1fr);
}
.otherShoes{
  max-width: 15%;
}
.cardImage{
  min-height: 16vw;
  transform: scale(0.8);
}
.badge{
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  place-items: center;
  width: 4vw;
}
@media only screen and (max-width: 410px)
{
  .card{
    width: 17rem !important;
  }
  .otherShoes{
    min-width: 35%;
  }
}
