.shoesName{
font-size: 24px;
  display: flex;
  justify-content: space-between;
}
.price{
  color: #f25862;
  font-weight: bolder;
}
.cardText a{
  text-decoration: underline;
  color: black;
}
.card {
  width: 18rem;
}
.card:hover{
  transform: scale(1);
}
.feauredShoes{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4,1fr);
}
.otherShoes{
  max-width: 15% !important;
}
.cardImage{
  max-height: 13vw;
  transform: scale(0.75);
}
.badge{
  border: 1px solid #f25862;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  place-items: center;
  width: 5.5vw;
}
@media only screen and (max-width: 390px) {
  .card{
    width: 17rem !important;
  }
}
@media only screen and (max-width: 768px)
{
  .card{
    width: 19rem;
  }

  .otherShoes{
    min-width: 40vw !important;
    transform: scale(0.75);
  }
  .badge {
    border: 1px solid #f25862;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    place-items: center;
    width: 30%;
  }
  .cardImage{
    max-height: 75vw !important;
  }
  .card {
    height: 90vw;
  }
}
